.vscode/**
src/**
scripts/**
out/**
docs/**
*.png
*.ts
!dist/**
!media/**
!images/**
node_modules/**
.gitignore
tsconfig.json
**/*.map
test-api.js
111.png
222.png
1.png
logo.svg
logo.png
logo-1024.png
*.ttf
